# History files
.Rhistory

# RStudio project files
Data_Analytics_with_R.Rproj/ 
# Session Data files
.RData

# User-specific files

# Example code in package build process

# Output files from R CMD build

# Output files from R CMD check

# RStudio files
.Rproj.user/

# produced vignettes

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3

# knitr and R markdown default cache directories

# Temporary files created by R markdown

# R Environment Variables

# pkgdown site

# translation temp files

# RStudio Connect folder

# R specific
.Rhistory
.RData
.Rproj.user/

# Data files

# Output files

# System files
.DS_Store
Thumbs.db
